/*
* ==========================================================
*     CONTENT STYLING 
* ==========================================================
*/
/*.page-content {
  position: relative;
  background: #212840;
  min-height: 100vh;
  width: calc(100% - 280px);
  padding: 0;
  padding-bottom: 70px;
}
body {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8a8d93;
  background-color: #fff;
}
.breadcrumb {
  background: none;
  padding: 20px 20px;
  margin-bottom: 0;
  color: #8a8d93;
}
.breadcrumb li.active {
  color: #585a5f;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #585a5f;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
section {
  padding: 0 1rem;
}
.statistic-block {
  padding: 20px;
  background: #131633;
  color: #8a8d93;
}
.block {
  padding: 20px;
  background: #131633;
  color: #8a8d93;
  margin-bottom: 30px;
}
.statistic-block .title {
  margin-bottom: 0;
}
.block .title {
  margin-bottom: 20px;
}
.statistic-block .icon {
  margin-bottom: 5;
  font-size: 1.2rem;
  color: #8a8d93;
}
i[class*='icon-'] {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
i, span, strong {
  display: inline-block;
}
.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #8a8d93;
  margin-bottom: 5px;
}
.statistic-block strong, .statistic-block span {
  display: block;
}
.statistic-block .number {
  color: inherit;
  font-size: 2.2rem;
}
.progress.progress-template {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: hidden;
  background: #393c43;
  margin-top: 5px;
}
.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}
.dashtext-1 {
  color: #864DD9 !important;
}
.dashbg-1 {
  background: #864DD9;
}
.dashtext-2 {
  color: #CF53F9 !important;
}
.dashbg-2 {
  background: #CF53F9;
}
.dashtext-3 {
  color: #42dbdc !important;
}
.dashbg-3 {
  background: #42dbdc;
}
.dashtext-4 {
  color: #7127AC !important;
}
.dashbg-4 {
  background: #7127AC;
}
.margin-bottom-sm {
  margin-bottom: 30px !important;
}
section {
  padding: 0 1rem;
}
.stats-with-chart-1 {
  height: 100%;
}
.stats-with-chart-1 .title {
  margin-bottom: 30px;
}
.block .title strong:first-child {
  font-size: 1.25rem;
  color: #a5a7ab;
}
.stats-with-chart-1 .title strong {
  font-size: 1.25rem;
}
.block .title {
  margin-bottom: 20px;
}
.stats-with-chart-1 .title span {
  font-weight: 300;
  font-size: 0.95rem;
}
.stats-with-chart-1 .text strong {
  font-size: 1.8rem !important;
  font-weight: 300;
}
small, .small {
  font-size: 80%;
  font-weight: 400;
}
.stats-with-chart-2 .title {
  margin-bottom: 30px;
}
.stats-with-chart-2 .title strong {
  font-size: 1.25rem;
}
.stats-with-chart-2 .chart {
  position: relative;
  margin-bottom: 20px;
}
.stats-with-chart-2 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
}
.stats-with-chart-2 .text strong {
  font-size: 1.5rem;
}
.stats-with-chart-2 .text span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}
.stats-with-chart-2 .chart {
  position: relative;
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .footer__block {
  min-height: 70px;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
p {
  line-height: 1.7;
}
a {
  color: #42dbdc;
  text-decoration: none;
}*/

/*
* ==========================================================
*     GENERAL STYLING 
* ==========================================================
*/
body {
  position: relative;
}

section {
  padding: 0 1rem;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.dashtext-1 {
  color: #864DD9 !important;
}

.dashtext-2 {
  color: #CF53F9 !important;
}

.dashtext-3 {
  color: #42dbdc !important;
}

.dashtext-4 {
  color: #7127AC !important;
}

.dashbg-1 {
  background: #864DD9;
}

.dashbg-2 {
  background: #CF53F9;
}

.dashbg-3 {
  background: #42dbdc;
}

.dashbg-4 {
  background: #7127AC;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.8rem;
}

.text-gray-light {
  color: #dee2e6;
}

.text-gray {
  color: #8a8d93;
}

.text-gray-dark {
  color: #6a6c70;
}

.text-black {
  color: #000;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.lh-2 {
  line-height: 2;
}

.list-group-item {
  border-right: 0;
  border-left: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

p {
  line-height: 1.7;
}

button {
  cursor: pointer;
}

i,
span,
strong {
  display: inline-block;
}

input {
  outline: none;
}

pre {
  color: #8a8d93;
}

.dropdown-divider {
  border-top-color: #6a6c70;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-top-sm {
  padding-top: 30px !important;
}

.padding-bottom-sm {
  padding-bottom: 30px !important;
}

.margin-top-sm {
  margin-top: 30px !important;
}

.margin-bottom-sm {
  margin-bottom: 30px !important;
}

.breadcrumb {
  background: none;
  padding: 20px 20px;
  margin-bottom: 0;
  color: #8a8d93;
}

.breadcrumb a {
  color: #42dbdc;
  text-decoration: none !important;
}

.breadcrumb li.active {
  color: #585a5f;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #585a5f;
}

.block {
  padding: 20px;
  background: #131633;
  color: #8a8d93;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-bottom: 0;
}

.page-content {
  position: relative;
  background: #212840;
  min-height: 100vh;
  width: calc(100% - 280px);
  padding: 0;
  padding-bottom: 70px;
}

.page-content.active {
  width: 100%;
}

.page-header {
  padding: 20px 15px;
  background: #131633;
  color: #8a8d93;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .footer__block {
  min-height: 70px;
}

.dropdown-menu {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  color: #8a8d93;
  font-size: 1rem;
  min-width: 200px;
  background: #131633;
  border-radius: 0;
  padding: 0;
  /*margin-top: 21px;*/
  border: 1px solid #393c43;
}

.dropdown-menu a {
  color: inherit;
}

.dropdown-menu a:hover {
  background: #42dbdc;
  color: #fff;
}

.dropdown-toggle {
  background: none;
  outline: none;
  border-radius: 0;
}

.dropdown-toggle span.caret {
  color: #555;
}

.dropdown-toggle::after {
  border: none !important;
  content: '\f107';
  vertical-align: baseline;
  font-family: 'FontAwesome';
  margin-left: .25rem;
  margin-right: 0.5rem;
}

i[class*='icon-'] {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.dropdown-menu a {
  padding: 10px 15px;
  font-size: 0.9rem;
  text-transform: none;
}

.dropdown-menu a:hover {
  color: #fff;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  font-size: 1rem;
}

.megamenu {
  width: 100%;
  padding: 40px 30px;
  margin-top: 0 !important;
  z-index: 11 !important;
}

.megamenu strong {
  margin-bottom: 10px;
  display: block;
}

.megamenu ul {
  padding: 0;
  margin: 0;
}

.megamenu ul a {
  padding: 5px 0 !important;
  text-decoration: none;
  color: #555;
  font-size: 0.9em !important;
}

.megamenu ul a:hover {
  background: none;
  color: #42dbdc !important;
}

.megamenu .megamenu-buttons {
  color: #fff;
  margin-top: 40px;
}

.megamenu .megamenu-buttons .megamenu-button-link {
  padding: 20px !important;
  text-decoration: none;
  font-weight: 300;
}

.megamenu .megamenu-buttons .megamenu-button-link.dashbg-1:hover {
  background: #7838d5 !important;
}

.megamenu .megamenu-buttons .megamenu-button-link.dashbg-2:hover {
  background: #c83af8 !important;
}

.megamenu .megamenu-buttons .megamenu-button-link.dashbg-3:hover {
  background: #e6495d !important;
}

.megamenu .megamenu-buttons .megamenu-button-link.dashbg-4:hover {
  background: #632297 !important;
}

.block .title {
  margin-bottom: 20px;
}

.block .title strong:first-child {
  font-size: 1.25rem;
  color: #a5a7ab;
}

.block .title span:first-child {
  font-weight: 300;
  font-size: 0.95rem;
}

/*
* ==========================================================
*     STATISTICS SECTION
* ==========================================================
*/
/* Statistic Block */
.statistic-block {
  padding: 20px;
  background: #131633;
  color: #8a8d93;
}

.statistic-block .title {
  margin-bottom: 0;
}

.statistic-block strong,
.statistic-block span {
  display: block;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #8a8d93;
  margin-bottom: 5px;
}

.statistic-block .icon {
  margin-bottom: 5;
  font-size: 1.2rem;
  color: #8a8d93;
}

.statistic-block .number {
  color: inherit;
  font-size: 2.2rem;
}

.progress.progress-template {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: hidden;
  background: #393c43;
  margin-top: 5px;
}

.progress.progress-template.progress-small {
  height: 2px;
}

.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}

.progress-bar.progress-bar-template.progress-bar-small {
  height: 2px;
}

a {
  color: #42dbdc;
  text-decoration: none;
}
a:focus, a:hover {
  color: #c52e41;
  text-decoration: underline;
}
